<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.BBS.mapper.BbsMapper">
    <select id="selectAll" resultType="com.example.BBS.entity.Entity">
        select * from bbs_app
    </select>

    <select id="add" resultType="com.example.BBS.entity.Entity">
        insert into bbs_app (name, details)
        values (#{name},#{details})
    </select>
</mapper>