<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>掲示板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
		table { border-collapse: collapse; }
		table th { padding: 10px; border: solid 1px black; }
		table td { padding: 3px 10px; border: solid 1px black; }
    </style>
</head>
<body>
<h1>掲示板へようこそ！</h1>
<table>
    <form method="post" action="/" th:action="@{/add}">
        <tr>
            <td><label for="name">名前</label></td>
                        <td><input type="text" name="name" id="name"/></td>
        </tr>
        <tr>
            <td><label for="details">投稿内容</label></td>
                        <td><input type="text" name="details" id="details"/></td>
        </tr>
        <tr>
            <td><input type="submit"/></td>
        </tr>
    </form>
</table>
<br/>
<table>
    <tr>
        <th>名前</th>
        <th>投稿内容</th>
    </tr>
    <tr th:each="obj : ${submissionDetails}">
        <td th:text="${obj.name}"></td>
        <td th:text="${obj.details}"></td>
</table>
</body>
</html>